<div id="<%= dom_id resume_content %>">
  <p>
    <strong>Title:</strong>
    <%= resume_content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resume_content.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= resume_content.type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= resume_content.date %>
  </p>

</div>
