<p style="color: green"><%= notice %></p>

<h1>Resume contents</h1>
<%= link_to "My Resume", @resume_contents %>
<div id="resume_contents">
  <% @resume_contents.each do |resume_content| %>
    <%= render resume_content %>
    <p>
      <%= link_to "Show this resume content", resume_content %>
    </p>
  <% end %>
</div>

<%= link_to "New resume content", new_resume_content_path %>
